/*__________________________________________________________________TECHBOY/STATIC/CSS/BASE.CSS */
html {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Ysabeau SC', sans-serif;
    text-align: center;
}


/*___________________________________________________________________TOP NAVBAR */
/* removes dropdown arrow*/
.nav-link.dropdown-toggle::after {
    display: none;
}

.brand {
    font-size: 20px;
}
