/*__________________________________________________________________TECHBOY/STATIC/CSS/BASE.CSS */
html {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Ysabeau SC', sans-serif;
    text-align: center;
}


/*___________________________________________________________________TOP NAVBAR */
/* removes dropdown arrow*/
.nav-link.dropdown-toggle::after {
    display: none;
}

.brand {
    font-size: 20px;
}


/*___________________________________________________________________BOTTOM NAVBAR */
.nav-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.nav-icon i {
    font-size: 24px;
}

.nav-icon span {
    font-size: 12px;
}