/*__________________________________________________________________TECHBOY/STATIC/CSS/BASE.CSS */
html {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


/*___________________________________________________________________TOP NAVBAR */
/* removes dropdown arrow*/
.nav-link.dropdown-toggle::after {
    display: none;
}

.brand {
    font-size: 20px;font-size: 24px;/*___________________________   Icon Size */
}


/*___________________________________________________________________BOTTOM NAVBAR */

.nav-icon i {
    font-size: 24px;/*___________________________   Icon Size */
    margin: 0;/*_________________________________   Margin around the icon */
}

.nav-icon span {
    font-size: 12px;/*___________________________   Text Size next to icon */  
}

.dropdown-item {
    font-size: 12px;/*____________________________  Text Size in dropdown Note: Affect top navbar also */ 
}
