<!-------------------------------------------------------------------------TECHBOY/PRODUCT/TEMPLATES/PRODUCT/PRODUCT_LIST_VIEW.HTML-->
{% extends 'base.html' %}

{% block title %}Product List{% endblock %}

{% block content %}
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for product in products %}
            <div class="col">
                <div class="card h-100">
                    <img src="{{ product.image_url }}" class="card-img-top" alt="{{ product.title }}">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'product_detail' product.pk %}">{{ product.title }}</a></h5>
                        <p class="card-text">{{ product.description }}</p>
                        <p class="card-text"><strong>Price:</strong> ${{ product.price }}</p>
                        <p class="card-text"><strong>Category:</strong> {{ product.category.name }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
